body {
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 17px;
}


/*=============================
        HEADER
==============================*/

/**** Menu principal *********/
.navbar-dark .navbar-nav .nav-link {
        font-family: 'Cabin', sans-serif;
        text-transform: uppercase;
        color: #fff!important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
         background: #4f9cef;
}

.navbar-dark .navbar-nav .active > .nav-link {
        background: #4f9cef;
}

/*=================================
        MAIN
====================================*/

h2.text-danger {
        font-family: 'Rancho', cursive;
        font-size: 45px;
}

/******** PAGE KNOCKOUT ********/
.list-group{
        margin-top: 200px; 
}
    
.title-knock{
        margin-bottom: 50px; 
 }